*{
    padding: 0;
    margin: 0;
    border: border-box;
    color: white;
    text-decoration: none;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 60px;
    width: 100px;
}
.loc{
    height: 40px;
    width: 60px;
}
.search{
    border-radius: 10px;
}
.se{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-size: x-large;
    height: 47px;
    position: relative;
    right: 3px;
    border-radius: 10px;
}
.cart{
   font-size: x-large;
}
.drop{
    height: 30px;
    width: 60px;
    background-color: gold;
}
.c{
    display: flex;
    height: 38px;
    background-color: #222f3d;
    align-items: center;
}
.deals{
   margin-right: 0px;
}
.her{
    height: 40vh;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.p{
    display: flex;
    align-items: center;
}
.herdown{
    background-color: black;
    height: 15%;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.boxes{
    display: flex;
    justify-content: space-around;
    color: #0f1111;
    margin-top: 20px;
    background-size: cover;
    flex-wrap: wrap;
    height: 700px;
    
}
.boxy{
 background-image: url("box2_image.jpg");
 height: 40vh;
 background-size: cover;
 width: 20vw;
 border: 2px solid black;
 border-radius: 10px;
 box-shadow: #0f1111;
}
.naz{
    margin-top: 295px;
    color: black;
    z-index: 3;
    margin-left: 20px;
    color: blue;
    font-weight: bolder;
}
.box1{
    background-image: url("box1_image.jpg");
    height: 40vh;
    background-size: cover;
    width: 20vw;
    border: 2px solid black;
    border-radius: 10px;
}
.box2{
    background-image: url("box3_image.jpg");
    height: 40vh;
    background-size: cover;
    width:20vw;
    border: 2px solid black;
    border-radius: 10px;
}
.box3{
    background-image: url("box4_image.jpg");
    height: 40vh;
    background-size: cover;
    width: 20vw;
    margin-top: 60px;
    border: 2px solid black;
    border-radius: 10px;
}
.box4{
    background-image: url("box5_image.jpg");
    height: 40vh;
    background-size: cover;
    width: 20vw;
    margin-top: 60px;
    border: 2px solid black;
    border-radius: 10px;

}.box5{
    background-image: url("box6_image.jpg");
    height: 40vh;
    background-size: cover;
    width: 20vw;
    margin-top: 60px;
    border: 2px solid black;
    border-radius: 10px;
}.box6{
    background-image: url("box7_image.jpg");
    height: 40vh;
    background-size: cover;
    width: 20vw;
    margin-top: 60px;
    border: 2px solid black;
    border-radius: 10px;
}
.boxn{
    background-image: url("box8_image.jpg");
    height: 40vh;
    background-size: cover;
    width: 20vw;
    border: 2px solid black;
    border-radius: 10px;
}
.back{
    height: 60px;
    background-color: #222f3d;
    align-items: center;
    justify-content: center;
}
.last{
    height: 250px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap;
}
.logoas{
    background-image: url("amazon_logo.png");
    height: 100px;
    background-size: cover;
    width: 200px;
    margin-top: 20px;
}
.bbg{
    padding: 5px;
}